body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.navigation {
  
  height: auto;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
	h1,h2,h3{
			  color:  black;
			  font-size:30px;
	                  font-family: 'Raleway', sans-serif;
	                 text-align :center;
				}
p,p2,p4{
	 color:rgba(122,903,140,1);
 	 font-family: 'Covered By Your Grace', sans-serif;
	  font-size: 18px;
	  font-weight:bold;
		}

body{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY8noSatDF-knDdFXJprw3R24OE7ak2glq_Qrtelc8AfbVcn2s");

}
image{
	border-radius: 20%;
	border-style: solid;
	
}
.banner {
 /* background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");*/
 /* background-size: cover;*/
  background-position: bottom center;
  height: 700px;
  width: 100%;
  text-align: center
  
}